@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('/public/assets/NotoSans-Bold.ttf');
@import url('/public/assets/NotoSans-Italic.ttf');
@import url('/public/assets/NotoSans-Regular.ttf');
@import url('/public/assets/Lato/Lato-Black.ttf');
@import url('/public/assets/Lato/Lato-BlackItalic.ttf');
@import url('/public/assets/Lato/Lato-Bold.ttf');
@import url('/public/assets/Lato/Lato-BoldItalic.ttf');
@import url('/public/assets/Lato/Lato-Italic.ttf');
@import url('/public/assets/Lato/Lato-Light.ttf');
@import url('/public/assets/Lato/Lato-LightItalic.ttf');
@import url('/public/assets/Lato/Lato-Regular.ttf');
@import url('/public/assets/Lato/Lato-Thin.ttf');
@import url('/public/assets/Lato/Lato-ThinItalic.ttf');



@layer base {
  body {
    font-family: 'Lato-Black','Lato-BlackItalic','Lato-Bold','Lato-BoldItalic','Lato-Italic','Lato-Light','Lato-LightItalic','Lato-Regular','Lato-Thin','Lato-ThinItalic','NotoSans-Regular', 'NotoSans-Italic', 'NotoSans-Bold', sans-serif;
    /* @apply font-normal text-base text-body bg-white relative z-1; */
  }
}

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .chat-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }

  .inbox-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
}

.scrollBar {
  overflow-x: auto !important;
}

.scrollBar::-webkit-scrollbar {
  width: 9px !important;
  height: 9px !important;
}

.scrollBar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #dddddd;
  border-radius: 1px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: #ffb000;
}

.scrollBar::-webkit-scrollbar-thumb:hover {
  background: #ffb000;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hide-scrollbar {
  scrollbar-width: none;
}

input.file-upload-btn {
  display: none;

}

#file-upload-label {
  font-size: 1em;
  font-weight: 500;
  color: white;
  background-color: orange;
  cursor: pointer;
  padding: 2px 3px;
  border: 1px solid orange;
  border-radius: 0.5rem;
  text-align: center;
  font-family: sans-serif;
  width: 8rem;
}

#file-upload-label:focus,
#file-upload-label:hover {
  background-color: rgb(255, 125, 125)nge;
  outline: 1px dotted white;
  outline: -webkit-focus-ring-color auto 2px black;
}

#file-upload-label:active {
  transform: scale(0.9);
}

.title,
.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}

.menu ul li a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}


.menu ul li .text {
  flex: 1;
}

.sub-menu li a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  font-weight: 500;
  /* color: #1b413d; */
  text-decoration: none;
  padding: 10px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}

.menu-btn {
  position: absolute;
  right: -14px;
  top: 3.5%;
  width: 28px;
  height: 28px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #1b413d;
  background-color: #fff;
}

.menu-btn:hover i {
  color: #1b413d;
}

.menu-btn i {
  transition: all 0.3s;
}

.sub-menu-item {
  margin-left: 55px;
  margin-top: -30px;
  color: rgb(33, 43, 54);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: fixed;
  /* overflow: hidden auto; */
  min-height: 16px;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
  outline: 0px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 4px;
  box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px, rgba(145, 158, 171, 0.24) -20px 20px 40px -4px;
  border-radius: 10px;
  min-width: 160px;
  pointer-events: auto;
  z-index: 9999;
}

.nested-sub-menu-item {
  margin-left: 157px;
  margin-top: -28px;
  color: rgb(33, 43, 54);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: fixed;
  min-height: 16px;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
  outline: 0px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 4px;
  box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px, rgba(145, 158, 171, 0.24) 0px 20px 40px -4px;
  border-radius: 10px;
  min-width: 160px;
  pointer-events: auto;
  z-index: 9999;
}


.sub-menu-title:hover {
  text-decoration: none;
  background-color: rgba(145, 158, 171, 0.08);
}

.sub-menu-title {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  min-width: 0px;
  box-sizing: border-box;
  text-align: left;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 6px;
  color: rgb(99, 115, 129);
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  min-height: 34px;
  padding: 0px 8px;
}

.sub-menu-title-background {
  background-color: rgba(145, 158, 171, 0.16);
}


.card {
  backdrop-filter: blur(0px) saturate(191%);
  -webkit-backdrop-filter: blur(0px) saturate(191%);
  border-radius: 1  px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin: 0 auto;
  padding: 20px 10px;
  border: 1px solid #ccc;
  color: black;
  padding: 10px;
}

.card-1 {
  backdrop-filter: blur(0px) saturate(191%);
  -webkit-backdrop-filter: blur(0px) saturate(191%);
  border-radius: 1  px;
  margin: 0 auto;
  padding: 20px 10px;
  color: rgb(18 44 41 / 90%);
  padding: 10px;
}

.card-1:hover{
  color: #fff;
}

.notification {
  position: fixed;
  right: 70px;
  top: 59px;
}

.notification-hover:hover {
  background-color: #80808021;
}

.relative.inline-flex.shrink-0 {
  width: 100%;
}

.icon-style {
  padding: 5px;
  box-shadow: 0 0 3px 1px grey;
  border-radius: 50%;
}

.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mintablecellwidth {
  display: block;
  min-width: 90px;
}

.pay-status {
  display: inline-block;
  background-color: rgb(255, 152, 152);
  color: #222222;
  padding: 4px 15px;
  border-radius: 4px;
  min-width: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #71717a;
  &.success, &.charged {
    background-color: #70ae6e;
  }
  &.pending, &.new {
    background-color: #fbd1a2;
  }
}

.date-cell {
  font: normal normal 600 15px/120% "Raleway, sans-serif";
  font-family: "Raleway, sans-serif";
  color: #777777;
  font-family: inherit;
  min-width: 160px;
}

.photo-size-note {
  font: normal normal 500 14px/120% "Raleway, sans-serif";
  font-family: "Raleway, sans-serif";
  color: #444444;
  font-family: inherit;
}

.full-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.full-wrap .left-wrap {
  display: flex;
  flex: 0;
  min-width: 300px;
}
.full-wrap .right-wrap {
  display: flex;
  flex: 1;
  align-content: center;
  align-items: center;
}
.full-wrap .right-wrap .download-wrap {
  flex: 1;
  align-self: center;
}

.full-wrap .right-wrap .btn-reload {
  margin-left: 12px;
  margin-top: 0;
}


.download-sheet-form {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 24px;
}

.download-sheet-form > div {
  align-self: flex-start;
}

.download-sheet-form .text-small {
  font-size: 12px;
}
.download-sheet-form .mt-1\.5 {
  margin-top: 0;
}

.download-sheet-form-month,
.download-sheet-form-year {
  width: 136px;
  font-size: 13px;
}

.download-sheet-form .custom-react-select__control .custom-react-select__value-container {
  padding-right: 0;
}

.download-sheet-form .download-bttn {
  margin-top: 24px;
}
.react-datepicker-popper .react-datepicker__triangle {
  display: none;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-wrapper .calendar-main-class {
  font-family: "Inter", sans-serif !important;
  color: #000;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem;
  padding-left: 2.25rem;
  box-sizing: border-box;
  border: 2px solid #e4e4e7;
  border-radius: 8px;
  width: 100%;
  min-width: 250px;
}

.react-datepicker-wrapper .calendar-main-class.border-danger {
  border-color: #f31260;
}

.react-datepicker-wrapper .calendar-main-class::placeholder {
  color: #9ca3af;
}

.react-datepicker-wrapper .calendar-main-class:focus-visible {
  outline: 0;
}

.react-datepicker.calendar-outer-class {
  font-family: "Inter", sans-serif !important;
  color: #000;
  border-radius: 0;
  border: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.react-datepicker.calendar-outer-class .react-datepicker__month-container {
  padding: 10px 10px 5px;
}

.react-datepicker.calendar-outer-class .react-datepicker__header {
  background-color: #fff;
  text-align: center;
  border-bottom: 2px solid #f4f4f4;
  border-radius: 0;
  padding: 0px 0 15px;
  margin-bottom: 5px;
  position: relative;
}

.react-datepicker.calendar-outer-class .react-datepicker__header .items-center span.text-sm {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.react-datepicker.calendar-outer-class .react-datepicker__header .react-datepicker__day-name {
  line-height: 1.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  width: 36px;
}

.react-datepicker.calendar-outer-class .calendar-base-class {
  width: 36px;
  height: 36px;
  line-height: 2.25rem;
  font-weight: 600;
  font-size: 0.875rem;
  border-radius: 0.3rem;
}

.react-datepicker.calendar-outer-class .calendar-base-class.react-datepicker__day--outside-month {
  opacity: 0.4;
}

.react-datepicker.calendar-outer-class .calendar-base-class.calendar-today-class {
  background-color: rgba(237, 28, 36, 0.4);
}

.react-datepicker.calendar-outer-class .calendar-base-class.react-datepicker__day--keyboard-selected {
  background-color: transparent;
}

.react-datepicker.calendar-outer-class .calendar-base-class.react-datepicker__day--selected {
  background-color: #ed1c24;
  color: #fff;
}

.react-datepicker.calendar-outer-class .calendar-base-class.react-datepicker__day--disabled,
.react-datepicker.calendar-outer-class .calendar-base-class.react-datepicker__day--excluded {
  background-color: #dbdbdb;
  color: #000;
  opacity: 0.6;
  cursor: not-allowed;
}